.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#userText {
  width:70%;
  color: black;
  font-family: 'Vollkorn', serif;  
  min-height: 10in;
  padding: 4vw;
  background: transparent;
  opacity: 1;
  z-index: 2;
  border-radius: 0px;
  border-width: 1px;
  hyphens: auto;
  position:fixed;
  left:10%;
  top: 40px;
}

#suggestionText {
  width:70%;
  color: rgb(137, 142, 206);
  font-family: 'Vollkorn', serif;  
  min-height: 10in;
  padding: 4vw;
  cursor: text;
  pointer-events: none;
  border-radius: 0px;
  border-width: 1px;
  hyphens: auto;
  position:fixed;
  left:10%;
  top: 40px;
}

:focus {
  outline: 0px;
}

button {
  position: fixed;
  right: 1%;
  top: 10px;
  padding: 0.1in;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 6px;
  font-family: "Inter", sans-serif;
  color: rgba(20, 63, 112, 0.9);
  font-weight: bold;
  border-radius: 3px;
  font-size: 8.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgb(199, 233, 255);
  border: 0.01px solid rgba(20, 63, 112, 0.05);
}

button:hover {
  color: rgba(20, 63, 112, 0.9);
  background-color: rgb(192, 226, 250);
}
